.container {
    width: 980px;
    margin: 50px auto;
    margin-bottom: 100px;
}

#shop-car{
    border: none;
    color: #444;
    border-top: 1px solid #ccc;
    background: #fff;
    border-collapse: separate;
    border-spacing: 0 20px;
}

#shop-car #title{
    height: 40px;
}

#shop-car #title th{
    font-weight: normal;
}
#shop-car #my-book{
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    border-radius: 5px;
}

#shop-car tr #book-info{
    display: flex;
    justify-content: left;
    align-items: center;
    color: #333;
    width: 300px;
    padding-left: 10px;
}

#shop-car tr td{
    width: 200px;
    text-align: center;
}

#shop-car tr .book-price{
    color: #ff0030;
}

#shop-car tr td #close{
    outline: none;
    border: none;
    background: #ff0030;
    color: #fff;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    opacity: .7;
    transition: opacity .2s ease;
    cursor: pointer;
}

#shop-car tr td #close:hover{
    opacity: 1;
}

#shop-car tr #count-number{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 90px;
    border: 1px solid #ccc;
    border-radius: .2rem;
}

#shop-car tr #count-number #add,
#shop-car tr #count-number #incle{
   width: 25px;
   height: 30px;
   outline: none;
   border: none;
   background: #fff;
   color: #444;
   margin: 0;
   cursor: pointer;
}
#shop-car tr #count-number #add{
   border-right: 1px solid #ccc;
}

#shop-car tr #count-number #incle{
    border-left: 1px solid #ccc;
}
#shop-car tr #count-number #number{
    outline: none;
    border: none;
    color: #444;
    padding: 0 5px;
    width: 25px;
    height: 30px;
    margin: 0;
}

#shop-car tr #count-number #number:focus{
    border: 1px solid #fe7300;
    box-shadow: 0 2px 6px rgb(254, 115, 0, .5);
}

#shop-car tr #book-info img{
    width: 150px;
}
.total-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,.5);
    height: 50px;
    background: #fff;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    padding: 5px;
    right: 0;
}

.total-price .total-select{
    padding: 0 0 0 100px;
    color: #444;
    font-size: 16px;
    cursor: pointer;
    transition: color .2s ease;
}

.total-price .submit{
    padding: 0 100px 0 0;
    color: #ff0030;
    font-size: 30px;
}

.total-price .submit input{
    height: 35px;
    width: 90px;
    outline: none;
    margin: 0 0 0 30px;
    border: .15rem solid #fe7300;
    background: #fff;
    color: #fe7300;
    border-radius: 5px;
    font-size: 16px;
    transition: background .2s ease-in;
}

.total-price .submit input:hover{
    background: #fe7300;
    color: #fff;
}