.container {
  width: 980px;
  margin: 0 auto;
}

#top-warp {
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
}

#top-warp .left {
  margin: 100px 0 0 0;
  line-height: 1.5rem;
  font-size: 18px;
  padding: 15px;
}

#top-warp .left .shop-now {
  display: block;
  width: 100px;
  height: 35px;
  background: #fe7300;
  text-align: center;
  color: #fff;
  line-height: 35px;
  margin: 50px 0 0 0;
  border-radius: 5px;
  transition: all .3s;
}

#top-warp .left .shop-now:hover{
  transform: scale(.9);
}

#top-warp .right {
  margin: 50px 100px 50px 0;
  height: 350px;
}

#swiper {
  position: relative;
  padding: 15px;
  overflow: hidden;
  width: 290px;
  height: 320px;
  margin-left: 80px;
  box-sizing: border-box;
}

#swiper ul {
  width: 1450px;
  height: 320px;
  position: absolute;
}

#swiper ul li {
  float: left;
}

#swiper .number-point {
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  bottom: 10px;
  z-index: 1;
  text-align: center;
}

#swiper .number-point span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background: #ccc;
  cursor: pointer;
}

#swiper .number-point span.active {
  background: #fe7300;
}

#swiper .prev,
#swiper .next {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height:30px;
  font-size: 14px;
  background: rgba(0, 0, 0, .2);
  color: rgba(255, 255, 255, .4);
  position: absolute;
  text-align: center;
  transition: background .3s;
  top: 150px;
  opacity: 0;
}

#swiper .prev{
  left: 0px;
}

#swiper .prev:hover {
  background: rgba(0, 0, 0, .4);
  color: #fff;
}

#swiper img{
  width: 290px;
}

#swiper .next {
  right: 0px;
}

#swiper .next:hover {
  background: rgba(0, 0, 0, .4);
  color: #fff;
}

#midlle-warp {
  height: 200px;
  background: #fff;
  margin: 70px 0;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  display: flex;
  justify-content: space-between;
}

#midlle-warp .left #notice {
  font-size: 24px;
  margin: 10px 20px;
  font-weight: 400;
}

#midlle-warp .left #notice span {
  font-size: 16px;
  margin: 0 0 0 270px;
  cursor: pointer;
}

#midlle-warp .left #notice span:hover {
  color: #fe7300;
}

#info-notice {
  color: #5d5d5d;
  margin: 0px 20px;
  font-size: 14px;
  line-height: 2rem;
}

#right-info-hot {
  display: contents;
}

#right-info-hot .contxt {
  margin: 20px 0;
}

#right-info-hot .contxt h4 {
  font-size: 24px;
  color: #fd3c3c;
  font-weight: normal;
  margin-bottom: 10px;
}

#right-info-hot .contxt p {
  font-size: 14px;
  color: #5d5d5d;
}

#right-info-hot img {
  height: 180px;
  margin: 10px 50px 10px 0;
  border-radius: 5px;
}

.container #good-book {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 20px 0;
}

.container #good-book::before{
  content: "—————————————————————— ";
  color: #ddd;
}

.container #good-book::after{
  content: " ——————————————————————";
  color: #ddd;
}

.container #middle-warp .left li {
  line-height: 5px;
}

.container #product-hunt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 980px;
}

.container #product-hunt .box{
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
  border-radius: 5px;
  margin: 10px 20px;
  transition: all .3s;
}

.container #product-hunt .box:hover{
  transform: translateY(-5px);
}

.container #product-hunt .box .image img{
  width: 200px;
}

#product-hunt .box .content {
  font-size: .5rem;
  line-height: 1.5rem;
  text-align: center;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#product-hunt .box .content p:first-child {
  font-size: 1rem;
}