*, body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

nav .header {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
}

nav .header .left {
    line-height: 15px;
    color: #ccc;
    margin: 0 100px;
}

nav .header .left h4 {
    color: #fe7300;
    font-size: 24px;
}

nav .header .right .search-shop {
    outline: none;
    width: 300px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #fe7300;
    display: flex;
    justify-content: space-between;
    color: #fe7300;
    font-size: 20px;
    border-radius: 0.1rem;
    margin: 0 200px;
}

nav .header .right input[type="text"] {
    outline: none;
    border: none;
    padding: 5px;
    width: 100%;
}

i.fa.fa-search {
    padding: 4px;
}

nav .middle {
    position: relative;
    background: #fe7300;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: all .3s;
}

a.user-to-login {
    position: absolute;
    right: 0;
    transform: translateX(-110px);
    color: #fff;
    border: 2px solid;
    width: 4rem;
    height: 1.8rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 0.3rem;
    font-weight: 600;
    box-shadow: 0 2px 6px rgba(255, 225, 255, .8);
    transition: all .2s;
}

a.user-to-login:hover {
    background: #ffffff;
    color: #fe7300;
    border: none;
    transform: scale(1.1) translateX(-100px);
}

nav .middle ul a {
    padding: .5rem .7rem;
    color: rgba(255, 255, 255, .8);
    transition: all .2s ease-in;
}

nav .middle ul a.active {
    background: rgba(0, 0, 0, .1);
    color: #fff;
    border-radius: .25rem;
}

nav .middle ul a:hover {
    background: rgba(0, 0, 0, .1);
    color: #fff;
    border-radius: .25rem;
}

nav .middle #avater {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
}

nav .middle #avater img {
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    border: 2px solid #fff;
}

nav .middle .user {
    position: absolute;
    color: #fff;
    right: 90px;
    cursor: pointer;
}

nav .middle .user #menu-pop {
    box-shadow: 1px 2px 6px rgba(0, 0, 0, .15);
    position: absolute;
    padding: 5px 0;
    width: 120px;
    background: #fe7300;
    right: 0px;
    top: 49px;
    border-bottom-left-radius: 5px;
    text-align: center;
    border-bottom-right-radius: 5px;
    display: none;
}

nav .middle .user #menu-pop a {
    line-height: 30px;
}

footer {
    width: 100%;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}

footer .link {
    display: flex;
    justify-content: space-evenly;
    color: #444;
}

footer ul .title {
    font-size: 18px;
}

footer ul li a i {
    color: #fe7300;
    padding: 5px;
}

footer #logo::before {
    content: "—————————————————————— ";
    color: #ddd;
}

footer #logo::after {
    content: " ——————————————————————";
    color: #ddd;
}

footer ul li a {
    display: block;
    color: #444;
    transition: all .3s;
}

footer ul li a:hover {
    transform: translateX(5px);
    color: #fe7300;
}

footer svg.icon {
    transition: all .3s;
    padding: 0 10px;
    transform: translate(10px, 10px);
}

footer svg.icon:hover {
    transform: scale(1.2) translate(10px, 0px);
}

#up-to-top {
    position: fixed;
    bottom: 80px;
    right: 30px;
    background: var(--main-color);
    height: 35px;
    width: 35px;
    opacity: .7;
    text-align: center;
    line-height: 35px;
    color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    cursor: pointer;
    display: none;
}

#up-to-top:hover {
    opacity: 1;
}